.card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1410px;
  padding-top: 90px;
  padding-bottom: 90px;
  padding-left: 10px;
  position: relative;

  .card_information {
    position: absolute;
    background-color: $main-white-color;
    z-index: 1;
    color: $main-black-color;
    font-size: clamp(1rem, calc(1.4784rem + 1.7266vw), 3rem);
    line-height: 80px;
    width: 100%;
    padding: 0 20px;
    padding-bottom: 40px;
    max-width: 417px;
    max-height: 491px;
    left: 30%;
    top: 13.1%;
  }
  p {
    font-size: 15px;
    color: $main-gray-color;
  }

  .painting {
    width: 100%;
    max-width: 417px;
    max-height: 491px;
    z-index: 0;
  }

  .painting_artist {
    width: 100%;
    max-width: 140px;
    max-height: auto;
    padding-left: 26px;
    position: absolute;
    bottom: 6%;
  }

  .card_right {
    width: 31%;
    margin-right: 5%;

    .year {
      font-size: 180px;
      color: $main-white-gray-color;
    }
    .description {
      position: absolute;
      top: 32%;
      font-size: 12px;
      line-height: 28px;
      font-weight: bold;
      max-width: 350px;
      color: $main-gray-color;
    }
    a {
      position: absolute;
      bottom: 12%;
      font-size: 9px;
      color: $main-gray-color;
      cursor: pointer;
      text-decoration: none;
      text-decoration: underline;
    }
  }
}
.slideshow {
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0;
  .card_information {
    h1 {
      font-size: 18px;
      margin-bottom: 5px;
    }
    p {
      font-size: 13px;
    }
  }
  .arrows {
    .left_arrow {
      margin-right: 40px;
    }
  }
}
