.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .painting {
    width: 100%;
    max-width: 475px;
    min-width: 250px;
    height: auto;
  }
  .card_left {
    position: relative;
    
    .container {
      position: absolute;
      align-items: center;
      background-color: $main-white-color;
      bottom: -1%;
      padding: 20px 10px;
      width: 80%;
      height: 25%;
      h1 {
        font-size: clamp(1rem, calc(0.7227rem + 2.0168vw), 2.85rem);
      }
      p {
        font-size: 15px;
        color: $main-gray-color;
      }
    }
    .open_image {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      background-color: #000000;
      font-size: 80%;
      width: 150px;
      height: 8%;
      opacity: 0.5;
      text-align: center;
      position: absolute;
      top: 4%;
      left: 6%;
      cursor: pointer;

      img {
        padding: 7px;
      }
    }
    .open_image:hover {
      background-color: $main-gray-color;
    }
    .painting_artist {
      position: absolute;
      top: 100%;
      left: 0%;
      max-width: 140px;
      height: auto;
    }
  }
  .card_right {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 475px;
    .year {
      font-size: clamp(5rem, calc(3.8908rem + 8.0672vw), 11rem);
      color: $main-white-gray-color;
      margin-top: 40px;
      margin-left: 26%;
    }
    .card_right_info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: -24px;
      margin-bottom: 147px;
    }
    .description {
      color: $main-gray-color;
      font-size: 12px;
      line-height: 28px;
      font-weight: bold;
      width: 100%;
    }
    a {
      font-size: 9px;
      width: 90px;
      color: $main-gray-color;
      cursor: pointer;
      text-decoration: none;
      text-decoration: underline;
      margin-top: 60px;
    }
  }
}

.slideshow {
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
    border-top: 2px solid $main-black-color;
    padding: 20px 0;
    .card_information {
      display: flex;
      flex-direction: column;
      max-width: 220px;

      h1 {
        font-size: 18px;
        margin-bottom: 5px;
      }
      p {
        font-size: 13px;
      }
    }
    .arrows {
      .left_arrow {
        cursor: pointer;
        margin-right: 25px;
      }
      .right_arrow {
        cursor: pointer;
      }
    }
  }

  .modal {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100vh;
      background-color: rgba(61, 60, 60, 0.75);
      .modal-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
      }
      .painting_modal {
        max-width: 100%;
        min-width: 90%;
        height: auto;
        padding: 0 20px;
      }
      .close_modal {
        padding-left: 55%;
        padding-bottom: 30px;
        padding-right: 20px;
        border: none;
        background: none;
        cursor: pointer;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 3px;
        color: $main-white-color;
      }
    }

// .card {
//   position: relative;
//   display: flex;
//   justify-content: space-between;
//   width: 100%;
//   max-width: 1410px;
//   padding-top: 90px;
//   padding-bottom: 90px;
//   padding-left: 10px;
//   margin-bottom: 151px;

//   .painting_artist {
//     position: absolute;
//     top: 79%;
//     left: 41%;
//     width: 100%;
//     max-width: 140px;
//     max-height: auto;
//     padding-left: 26px;
//   }

//   .card_left {
//     max-width: 650px;
//   }
//   .card_information {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     align-items: flex-end;
//     position: absolute;
//     background-color: transparent;
//     z-index: 1;
//     color: $main-black-color;
//     font-size: clamp(1rem, calc(1.4784rem + 1.7266vw), 2rem);
//     line-height: 60px;
//     width: 100%;
//     max-width: 360px;
//     max-height: 240px;
//     left: 26%;
//     top: 12.1%;
//     .container {
//       padding: 0px 0px 50px 50px;
//       background-color: $main-white-color;
//     }
//   }
//   .open_image {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     color: $main-white-color;
//     background-color: $main-black-color;
//     font-size: 80%;
//     width: 120px;
//     height: 5%;
//     opacity: 0.5;
//     text-align: center;
//     position: absolute;
//     bottom: 14%;
//     left: 0;
//     cursor: pointer;
//     margin: 15px;
//     padding-right: 7px;
//     img {
//       padding: 7px;
//     }
//   }
//   .open_image:hover {
//     background-color: $main-gray-color;
//   }
//   p {
//     font-size: 15px;
//     color: $main-gray-color;
//   }
//   .painting {
//     width: 100%;
//     max-width: 475px;
//     height: auto;
//     z-index: 0;
//   }
//   .card_right {
//     position: relative;
//     width: 25%;
//     margin-right: 9%;
//     margin-top: -20px;
//     .year {
//       font-size: 180px;
//       color: $main-white-gray-color;
//     }
//     .card_right_info {
//       display: flex;
//       flex-direction: column;
//       justify-content: space-between;
//       position: absolute;
//       top: 24%;
//       max-width: 350px;
//       height: 456px;
//     }
//     .description {
//       color: $main-gray-color;
//       font-size: 12px;
//       line-height: 28px;
//       font-weight: bold;
//     }
//     a {
//       font-size: 9px;
//       width: 90px;
//       color: $main-gray-color;
//       cursor: pointer;
//       text-decoration: none;
//       text-decoration: underline;
//     }
//   }
// }
// .slideshow {
//   display: flex;
//   align-content: center;
//   flex-direction: row;
//   justify-content: space-between;
//   border-top: 2px solid $main-black-color;
//   padding: 20px 0;
//   .card_information {
//     display: flex;
//     flex-direction: column;
//     h1 {
//       font-size: 18px;
//       margin-bottom: 5px;
//     }
//     p {
//       font-size: 13px;
//     }
//   }
//   .arrows {
//     .left_arrow {
//       cursor: pointer;
//       margin-right: 40px;
//     }
//     .right_arrow {
//       cursor: pointer;
//     }
//   }
// }
// .modal {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 100%;
//   height: 100vh;
//   background-color: rgba(61, 60, 60, 0.75);
//   .modal-wrapper {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: flex-end;
//   }
//   .painting_modal {
//     max-width: 100%;
//     min-width: 90%;
//     height: auto;
//     padding: 0 20px;
//   }
//   .close_modal {
//     padding-left: 55%;
//     padding-bottom: 30px;
//     padding-right: 20px;
//     border: none;
//     background: none;
//     cursor: pointer;
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 17px;
//     letter-spacing: 3px;
//     color: $main-white-color;
//   }
// }
