.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
  grid-gap: 1px 1em;
  grid-auto-rows: 10px;
  padding: 15px 15px;
  justify-content: center;

  .image {
    width: 100%;
    max-width: 300px;
    height: auto;
    cursor: pointer;
  }

  .container {
    position: relative;
    h3 {
      color: $main-white-color;
      font-size: 24px;
    }
    p {
      padding-top: 5px;
      color: $main-middle-gray-color;
    }

    .information {
      position: absolute;
      bottom: 66px;
      left: 8px;
    }
  }
}


