  @media screen and (min-width: 1200px)  {
  .App{
      .card{
        flex-direction: row;
        justify-content: space-between;
        margin-left: 0px;
        margin-bottom: 22%;
        .card_left {
          .container {
            height: 30%;
            padding: 0px 0 9px 52px;
          }
          .painting_artist {
            top: 90%;
            left: 104%;
          }
          .open_image{
            top: 89%;
          }
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .card {
    margin-left: -146px;
    .card_left {
      align-items: flex-start;
      .container {
        top: 0;
        right: -47%;
        height: 28%;
        padding: 0 0 30px 68px;
      }
      .painting_artist {
        top: 25%;
        left: 120%;
      }
      .open_image {
        top: 3%;
        left: 0%;
      }
    }
    .card_right {
      align-items: flex-start;
      .card_right_info {
        margin-top: -113px;
      }
      .year {
        font-size: 180px;
        margin: 0;
      }
    }
  }
  .slideshow{
    .card_information{
      max-width: 350px;
    }
  }
}

@media screen and (max-width: 450px) {
  .card {
    .card_left {
      .painting_artist {
        width: 80px;
      }
    }
  }
}
